@font-face {
    font-family: 'currency-font';
    src:    url('../fonts/currency-font.eot?5mehhu');
    src:    url('../fonts/currency-font.eot?5mehhu#iefix') format('embedded-opentype'),
        url('../fonts/currency-font.ttf?5mehhu') format('truetype'),
        url('../fonts/currency-font.woff?5mehhu') format('woff'),
        url('../fonts/currency-font.svg?5mehhu#currency-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

.currency {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'currency-font' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    position: relative;
    top: -1px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.currency.UAH:before {
    content: "\e900";
}
.currency.KZT:before {
    content: "\e901";
}
.currency.EUR:before {
    content: "\e800";
}
.currency.GBP:before {
    content: "\e801";
}
.currency.USD:before {
    content: "\e802";
}
.currency.JPY:before,
.currency.CNY:before {
    content: "\e803";
}
.currency.RUR:before,
.currency.RUB:before {
    content: "\e804";
}
.currency.KPW:before,
.currency.KRW:before {
    content: "\e805";
}
.currency.bitcoin:before {
    content: "\e806";
}
.currency.INR:before {
    content: "\e807";
}
.currency.BYR:before {
    font-family: Arial !important;
    content: "Бел. руб.";
}
.currency.KGS:before {
    font-family: Arial !important;
    content: "сом.";
}